<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>PC Data登録</title>
</head>
<body>
	<form action="#" th:action="@{/view/create}" th:object="${inputForm}" method="post">
		イベント名: <br>イベント名表示</br>
		<br></br>
		イベントメモ: <br>イベントメモ表示</br>
        <br></br>
		氏名登録: <br><input type="text" /></br>
		<br></br>
		<p>候補日:
		<label><input type="radio" value="〇" />〇</label>
		<label><input type="radio" value="△" />△</label>
		<label><input type="radio" value="×" />×</label>
		</p>
		<p>コメント:<br> <textarea  rows="8" cols="40">コメントを入力。</textarea></br></p>
		<p><input type="submit" value="出欠登録" /> <input type="reset" value="リセット" /></p>
	</form>
</body>
</html>
